body{
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: #20073d;
}

.container{
    margin-top: 5rem;
}


#title{
    background-color: black;
    color: white;
    font-size: 40px;
    padding: 12px;
    display: inline-block;
    text-decoration: underline;
    text-decoration-color: thistle;

}

#userScore, #computerScore{
    color: white;
}

#btn{
    margin-top: 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 14px;
}
#rock, #paper, #scissors{
    margin-right: 20px;
    padding: 32px;
    font-size: 8rem;
    cursor: pointer;
    border: 4px solid white;
    border-radius: 100px;
    color: wheat; 
    
}

#rock:hover, #paper:hover, #scissors:hover{
    color: white;
    background-color: black;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

.transition{    
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}


#p{
    color: white;
    margin-bottom: 50px;
    font-size: 30px;
}

#make-move{
    font-size: 40px;
    margin-top: 2rem;
    color: white;
}


#footer a{
    color: white;
    background-color: gray;
    text-decoration: none;
    padding: 10px;
}

@media only screen and (max-width:500px){
    #title{
        font-size: 20px;
    }

    #btn{
        margin: 0;
        font-size: 12px;
           
    }

    #rock, #paper, #scissors{
        padding: 15px;
        font-size: 4rem;
        margin-right: 5px;
    }

    #make-move{
        font-size: 20px;
        margin-top: 1rem;
    }
    
    #footer a{
        padding: 5px;
    }
    #p{
        margin-bottom: 14px;
        font-size: 16px;
    }
    
    #userScore, #computerScore{
        font-size: 16px;
    }
}

.green-border{
    box-shadow: 0 0 10px green;
    border: 8px solid green;
}

.yellow-border{
    box-shadow: 0 0 10px yellow;
    border: 8px solid yellow;
}

.red-border{
    box-shadow: 0 0 10px red;
    border: 8px solid red;
}